<div class='col'>
  <div class='card' style='width: 18rem; min-height:18rem;'>
    <img src='{{image}}' class='card-img-top' alt='Home Image' />
    <div class='card-body'>
      <h5 class='card-title'>{{typeOfHome}}</h5>
      <h6 class='card-title'>in {{location}}</h6>
      <p class='card-text'>Looking for 2 roomies</p>
      <p class='card-text'>{{pet}}</p>
    </div>
  </div>
</div>