<div class="review card-rev" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text" style="font-family: Poppins; color: var(--dark-green-color); margin-top:5%">"{{description}}"</p>
    <h5 style="font-family: Poppins;">-{{name}}</h5>
  </div>
</div>

