
  <body>
    <main>
      <div class='container text-center'>
        <div class='row align-items-start'>
          <div class='col-5' style="padding-top:5%; ">

            <div class="bg-home-container"></div>
            <p class="lead">We offer a wide range of roomies and fine locations</p>

            <h1 class="display-1">Find the best...</h1>
            <div class="container">
              <button type="button" class='btn btn-outline-white btn-dark' data-bs-toggle="modal" data-bs-target="#loginModal" style="border-radius: 0; margin:2%; ">Login</button>
              <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#signupModal" style="border-radius: 0; margin:2%; ">Signup</button>
              </div>
          </div>
          <div class='col-7' style="padding-top:5%; ">
            <img src="../images/aesthethicDept.png" class="img-fluid" alt="homepage image">
          </div>

          <!-- Modal LOGIN -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form> 
                        <div class="form-group">
                            <label for="loginInputEmail" style="margin-right:75%; margin-bottom: 2%;">Email address</label>
                            <input type="email" class="form-control" id="loginInputEmail" aria-describedby="emailHelp" placeholder="Enter email" style="text-align: left; margin-bottom: 2%;">
                        </div>
                        <div class="form-group">
                            <label for="loginInputPassword" style="margin-right:80%; margin-bottom: 2%;">Password</label>
                            <input type="password" class="form-control" id="loginInputPassword" placeholder="Password" style="text-align: left; margin-bottom: 2%;">
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin: 3%;">Submit</button>
                    </form>
                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> --}}
            </div>
        </div>
    </div>

    <!-- Modal SIGNUP-->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Signup</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form> 
                        <div class="form-group">
                            <label for="signupInputUserName" style="text-align: left; margin-right:80%; margin-bottom: 2%;">Username</label>
                            <input type="email" class="form-control" id="signupInputUserName" aria-describedby="emailHelp" placeholder="Your Username" style="margin-bottom: 2%;">
                            {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
                        </div>
                        <div class="form-group">
                            <label for="signupInputEmail" style="text-align: left; margin-right:75%; margin-bottom: 2%;">Email address</label>
                            <input type="email" class="form-control" id="signupInputEmail" aria-describedby="emailHelp" placeholder="Enter email" style="text-align: left; margin-bottom: 2%;">
                            {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
                        </div>
                        <div class="form-group">
                            <label for="signupInputPassword" style="text-align: left; margin-right:80%; margin-bottom: 2%;">Password</label>
                            <input type="password" class="form-control" id="signupInputPassword" placeholder="Password" style="text-align: left; margin-bottom: 2%;">
                        </div>

                        <div class="dropdown">
                          <button class="btn btn-secondary btn-outline-white btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style=" margin: 2% 0%;">
                            What are you looking for?
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">A Home</a></li>
                            <li><a class="dropdown-item" href="#">A Roomie</a></li>
                          </ul>
                        </div>

                        <button type="submit" class="btn btn-primary" style="margin: 3%;" id="signUpSubmit">Submit</button>
                    </form>
                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> --}}
            </div>
        </div>
    </div>


          <div class="col-12" style="padding-top: 5%;">
            <h3 class="display-3">About us</h2>
            <p class="lead">The site for those looking for the best place to live</p>
            <div class="container text-center">
              <div class="row align-items-center">
                <div class="col">
                  <div class="card" style="width: 18rem;">
                      <img src="../images/house.png" class="card-img-top" alt="...">
                      <div class="card-body">
                      
                        <p class="card-text">Find what best suits you.</p>
                        <small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                          Dolore et obcaecati blanditiis ut quo tempora earum praesentium 
                          recusandae corrupti provident ex, voluptatem in nesciunt at voluptatibus
                          aliquam numquam laboriosam ratione.
                        </small>
                      
                      </div>
                    </div>
                  </div>

                <div class="col">
                  <div class="card" style="width: 18rem;">
                  
                      <img src="../images/amigos.png" class="card-img-top" alt="...">

                      <div class="card-body">
                        <p class="card-text">With the best people</p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                          Suscipit, aspernatur sed labore ipsum voluptatum ipsa consequuntur 
                          aperiam maiores, magni amet quisquam culpa veritatis earum eum architecto qui,
                          ex quibusdam adipisci.
                        </small>
                      </div>
                    </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                      <img src="../images/apoyo.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">24/7 Support</p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                          Suscipit, aspernatur sed labore ipsum voluptatum ipsa consequuntur 
                          aperiam maiores, magni amet quisquam culpa veritatis earum eum architecto qui,
                          ex quibusdam adipisci.
                        </small>
                      </div>
                    </div>
                </div>
                </div>
            </div>
          </div>
          <div class="col-12" style="padding-top: 4%;">
            <h3 class="display-3">Our Services</h2>
            <div class="container text-center">
              <div class="row align-items-start">
                <div class="col">
                  <div class="card" style="width: 18rem;">
                      <img src="../images/Girls.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        
                        <p class="card-text">Find a Roomate</p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                          Quisquam sunt ex distinctio nobis!
                        </small>
                      </div>
                    </div>
                  </div>

                <div class="col">
                    <div class="card align-self-end" style="width: 18rem;">
                      <img src="../images/3d-rendering-wood-beautiful-loft-minimal-bedroom-2021-08-28-10-14-45-utc.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Find a Place</p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                          Quisquam sunt ex distinctio nobis!
                        </small>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                      <img src="../images/luxury-house-2022-03-04-02-21-22-utc.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Share a Place</p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                          Quisquam sunt ex distinctio nobis!
                        </small>
                      </div>
                    </div>
                </div>
                </div>
            </div>
          </div>

          <div class="col-12">
            <h3>***Reviews***</h3>
          </div>
        </div>
      </div>
    </main>
    <div class="container-fluid" style="background-color: #E4EEE6;">
      ...
    </div>
  </body>


