<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM'
      crossorigin='anonymous'
    />
    {{!-- <link rel='stylesheet' href='../../public/css/style.css' /> --}}
    <title>Document</title>
  </head>
  <body>

    <main>
      <div class='container text-center'>
        <div class='row align-items-start'>
          <div class='col-5' style="padding-top:5%;">
            <p class="lead">We offer you a wide range of roomies and fine locations</p>
            <h1 class="display-1">Find the best...</h1>
            <div class="container">
              <button type="button" class="btn btn-dark" style="border-radius: 0; margin-right:5px;">Sign up</button>
              <button type="button" class="btn btn-light" style="border-radius: 0;">Login -></button>
              </div>
          </div>
          <div class='col-6' style="padding-top:5%;">
            <img src="https://eya6wzp9m8u.exactdn.com/wp-content/uploads/2022/11/ynlj3rm4vti.jpg?strip=all&lossy=1&resize=930%2C620&ssl=1" class="img-fluid" alt="homepage image">
          </div>
          <div class="col-12" style="padding-top: 5%;">
            <h3 class="display-3">About us</h2>
            <p class="lead">The site for those looking for the best place to live</p>
            <div class="container text-center">
              <div class="row align-items-center">
                <div class="col">
                  <div class="card" style="width: 18rem;">
                     <img src="..." class="card-img-top" alt="...">
                     <div class="card-body">
                       
                       <p class="card-text">Find what best suits you.</p>
                       <small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                         Dolore et obcaecati blanditiis ut quo tempora earum praesentium 
                         recusandae corrupti provident ex, voluptatem in nesciunt at voluptatibus
                          aliquam numquam laboriosam ratione.
                        </small>
                      
                      </div>
                    </div>
                  </div>

                <div class="col">
                  <div class="card" style="width: 18rem;">
                  
                     <img src="/public/images/homepage-image.png" class="card-img-top" alt="...">

                     <div class="card-body">
                       <p class="card-text">With the best people</p>
                       <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                         Suscipit, aspernatur sed labore ipsum voluptatum ipsa consequuntur 
                         aperiam maiores, magni amet quisquam culpa veritatis earum eum architecto qui,
                          ex quibusdam adipisci.
                        </small>
                      </div>
                    </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                     <img src="..." class="card-img-top" alt="...">
                     <div class="card-body">
                       <p class="card-text">24/7 Support</p>
                       <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                         Suscipit, aspernatur sed labore ipsum voluptatum ipsa consequuntur 
                         aperiam maiores, magni amet quisquam culpa veritatis earum eum architecto qui,
                          ex quibusdam adipisci.
                        </small>
                      </div>
                    </div>
                </div>
                </div>
            </div>
          </div>
          <div class="col-12" style="padding-top: 4%;">
            <h3 class="display-3">Our Services</h2>
            <div class="container text-center">
              <div class="row align-items-start">
                <div class="col">
                  <div class="card" style="width: 18rem;">
                     <img src="..." class="card-img-top" alt="...">
                     <div class="card-body">
                       
                       <p class="card-text">Find a Roomate</p>
                       <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                         Quisquam sunt ex distinctio nobis!
                        </small>
                      </div>
                    </div>
                  </div>

                <div class="col">
                  <div class="card align-self-end" style="width: 18rem;">
                     <img src="..." class="card-img-top" alt="...">
                     <div class="card-body">
                       <p class="card-text">Find a Place</p>
                       <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                         Quisquam sunt ex distinctio nobis!
                        </small>
                      </div>
                    </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                     <img src="..." class="card-img-top" alt="...">
                     <div class="card-body">
                       <p class="card-text">Share a Place</p>
                       <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                         Quisquam sunt ex distinctio nobis!
                        </small>
                      </div>
                    </div>
                </div>
                </div>
            </div>
          </div>

          <div class="col-12">
            <h3>***Reviews***</h3>
          </div>
        </div>
      </div>
    </main>
    <div class="container-fluid" style="background-color: #E4EEE6;">
      ... 

    </div>
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz'
      crossorigin='anonymous'
    ></script>
  </body>

</html>
