{{> preloader}}
{{> loggedNavbar}}

<body>
  <main>

    <!-- ***Add a Home modal*** (toggle)-->
    <div
      class='modal fade'
      id='offerHomeModal'
      tabindex='-1'
      role='dialog'
      aria-labelledby='exampleModalLabel'
      aria-hidden='true'
      style="margin-top: 5%;"
    >
      <div class='modal-dialog' role='document'>
        <div class='modal-content'>

          <div class='modal-header'>
            <h5
              class='modal-title d-flex'
              id='exampleModalLabel'
              style='justify-content:center; margin-left: 35%; font-family:Poppins; color:var(--dark-green-color);'
            >Offer a Home</h5>
            <button
              type='button'
              class='btn-close'
              data-bs-dismiss='modal'
              aria-label='Close'
            ></button>
          </div>

          <div class='modal-body'>
            <form class='offer-form'>
              <!-- Location Input -->
              {{!-- <div class='form-group'>
                <label for='signupInputUserName'
                  style='text-align: left; margin-right:80%; margin-bottom: 2%;font-weight:500;'>Location
                </label>
                <input type='text' class='form-control locationInput' id='signupInputUserName'
                  aria-describedby='emailHelp' placeholder='Enter the location of your home'
                  style='margin-bottom: 4%;' />
                {{! <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small> }}
              </div> --}}

              <!--Type OF Home Input-->
              <div class='form-group form-offer' style='margin-bottom: 3%;'>
                <label
                  for='signupInputUserName'
                  style='width: 250px; text-align: left; margin-bottom: 2%; font-weight:500;'
                >Home Type
                </label>

                <div class='form-check'>
                  <input class='form-check-input typeOfHome_A' type='radio' name='typeOfHomeRadio' id='typeOgHomeA'
                    value='Apartment' />
                  <label class='form-check-label' for='typeOfHomeA' style="color:#706c6c;">
                    Apartment
                  </label>
                </div>

                <div class='form-check'>
                  <input class='form-check-input typeOfHome_B' type='radio' name='typeOfHomeRadio' id='typeOfHomeB'
                    value='House' />
                  <label class='form-check-label' for='typeOfHomeB' style="color:#706c6c;">
                    House
                  </label>
                </div>
              </div>

              <!--Pet Friendly Input-->

              <label
                for='signupInputUserName'
                style='text-align: left; margin-top: 4%; margin-bottom: 2%; font-weight:500;'
              >Pet Friendly
              </label>

              <div class='form-check form-switch' style="margin-bottom: 2%;">
                <input class='form-check-input' type='checkbox' value='' id='checkPetFriendly' />
                <label class='form-check-label' for='checkPetFriendly' style="color:#706c6c;">
                  Pet Friendly
                </label>
              </div>
              
              <div class='mb-3' style='margin-top: 4%;'>
                <label
                  for='formFile'
                  class='form-label'
                  style='font-weight:500;'
                >Home Image</label>
                <input class='form-control' type='file' id='formFile' />
              </div>



              {{!-- XIMENA--}}
              <label for='signupInputUserName' style='text-align: left; margin-right:80%;font-weight:500;'>Location
              </label>
              <nav class="navbar">
                <form class="form-inline">
                  <div class="input-group">
                    <input class="form-control" type="search" placeholder="Enter the location of your home"
                      aria-label="Search" id="mySrch">
                    <div class="input-group-append">
                      <button class="btn btn-outline-success" type="search" id="LocSrchBtn">Search</button>
                    </div>
                  </div>
                </form>
              </nav>      

                <div class="optionsBox">
                    <h5 id="Select" style="font-family: Poppins; font-size: 16px;"></h5>
                    <div class="optionsx" id="0"></div>
                    <div class="optionsx" id="1"></div>
                    <div class="optionsx" id="2"></div>
                    <div class="optionsx" id="3"></div>
                    <div class="optionsx" id="4"></div>
                    <div class="optionsx" id="5"></div>
                    <div class="optionsx" id="6"></div>
                </div>  
              {{!-- XIMENA --}}


              <button
                type='submit'
                value='Upload'
                id='offerSubmit'
                class='btn btn-primary btn-submit-modal'
                style='margin-top:3%;'
              >Submit</button>

            </form>

            <!--multer Test from -->
            {{! <form action='/api/offer/uploadFile' enctype='multipart/form-data' method='POST'>
              <input type='file' class='admin__input' id='myFile' name='myFile' />
              <input class='admin__submit' type='submit' />
            </form> }}
          </div>
        </div>
      </div>
    </div>

    <!-- CHANGE PASSWORD MODAL -->
    <div class="modal fade" id="chPwdModal" tabindex="-1" aria-hidden="true" style="margin-top: 5%;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="row modal-header" style="padding-top: 2%;">
            <h5 class="modal-title" style="justify-content:center; text-align:center; font-family:Poppins; color:var(--dark-green-color);">Change your password</h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email"
                  style="justify-content: center; text-align: left; align-items: center; margin-bottom: 2%; ">
                {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small> --}}
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="currentPwd" placeholder="Current Password"
                  style="justify-content: center; text-align: left; align-items: center; margin-bottom: 2%; ">
                {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small> --}}
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="newPwd" placeholder="New Password"
                  style=" text-align: left; margin-bottom: 2%; ">
                {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small> --}}
              </div>
              <div class="form-group" style="border-radius: 20%;">
                <input type="password" class="form-control" id="newPwd2" placeholder="Retype New Password"
                  style="text-align: left; margin-bottom: 2%;">
              </div>
              <button type="submit" class="btn btn-primary changePwSubmit" style="margin: 3%;" id="signUpSubmit">Save
                Changes</button>
            </form>
          </div>
          {{!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> --}}
        </div>
      </div>
    </div>

    <!-- CHANGE PASSWORD MODAL -->

    <!-- DELETE ACCOUNT MODAL -->
    <div class="modal fade" id="delAccModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete your Account</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            We're sorry to see you go. Please consider telling us what we can do better to have you back soon.
            <form>
              <div class="form-group">
                <input type="review" class="form-control" id="goodbye" placeholder="Review"
                  style="justify-content: center; text-align: left; align-items: center; margin-bottom: 2%; ">
                {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small> --}}
              </div>
              <br>
              Please enter your email:
              <div class="form-group">
                <input type="email" class="form-control" id="userEmail" placeholder="user@email.com"
                  style="justify-content: center; text-align: left; align-items: center; margin-bottom: 2%; ">
                {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small> --}}
              </div>
              <button type="submit" class="btn btn-primary deleteSubmit" style="margin: 3%;" id="byeSubmit">Save
                Changes</button>
            </form>
          </div>
          {{!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> --}}
        </div>
      </div>
    </div>

    <!-- DELETE ACCOUNT MODAL -->

    <!-- ***"profile homepage"*** -->
    <div class='container-fluid' style='margin-bottom: 5%; margin-top:5%;'>
      <div class='container text-center'>
        <div class='row align-items-start'>


          <!--user image, offer buttons -->
          <div
            class='col-4'
            style='margin-left: 10%;'
          >
            <img
              src='../images/profile-picture.jpeg'
              class='img-fluid circle-image'
              alt='homepage image'
            />

          <div class='col-4' style='margin-left: 10%;'>
            <img src='../images/profile-picture.jpeg' class='img-fluid circle-image' alt='homepage image' />


            <button type='button' class='btn btn-outline-white btn-dark btn-signup btn-sm' data-bs-toggle='modal'
              data-bs-target='#offerHomeModal'

              style='font-family: Poppins; border-radius: 0; margin-right: auto; margin-left:auto; margin-top:3%;'
            >Offer a Home</button>
              <button
              type='button'
              class='btn btn-outline-white btn-dark btn-signup btn-sm'
          
              style='font-family: Poppins; border-radius: 0; margin-right: auto; margin-left:auto; margin-top:3%;'
            ><a href="/api/profile/userOffers">See my offers</a></button>
          </div>
          <!--user image, offer buttons -->


          <div class='col-6' >{{!-- style='margin-top:10%' --}}

              style='font-family: Poppins; border-radius: 0; margin-right: auto; margin-left:auto; margin-top:3%;'>Offer
              a Home</button>
          </div>
          <div class='col-6'>


            <h3 class="display-3"
              style='text-align:center; font-family: Poppins; font-weight: 500; font-size: 40px; color:var(--dark-color); margin-bottom: 6%'>
              {{user}}'s Profile</h3>

            <form style='padding-left:20%; justify-content-center align-items-center'>
              <div class='mb-3'>
                <label for='exampleInputEmail1' class='form-label'
                  style='margin-right:80%; font-weight:500;'>User</label>
                <input type='email' class='form-control' id='exampleInputEmail1' placeholder='your display name' />
              </div>
              <div class='mb-3'>
                <label for='exampleInputPassword1' class='form-label'
                  style='margin-right:80%; font-weight:500;'>Email</label>
                <input type='password' class='form-control' id='exampleInputPassword1'
                  placeholder='your email address' />
              </div>

              <div class="col-3">
                <button type='button' class='btn btn-outline-white btn-dark btn-signup btn-sm' data-bs-toggle='modal'
                data-bs-target='#offerHomeModal'
                style='font-family: Poppins; border-radius: 0; margin-right: auto; margin-left:auto; margin-top:3%;'>Offer
                a Home</button>


                <button class='btn btn-dark' type='button' style='padding-left:1.5rem; padding-right:1.5rem;'
                  data-bs-toggle="modal" data-bs-target="#chPwdModal">
                  Change Password</button>


                <button class='btn btn-secondary' type='button' style='padding-left:1.5rem; padding-right:1.5rem;'
                  data-bs-toggle="modal" data-bs-target="#delAccModal">
                  Delete Account</button>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src='../../js/offers.js'></script>
  <script src='../../js/geocodeApi.js'></script>
  <script src='../../js/profile.js'></script>

</body>