<body>
  <main>

    <!--Add a Home modal -->
         <div class='modal fade' id='offerHomeModal' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true'>
          <div class='modal-dialog' role='document'>
           <div class='modal-content'>
            <div class='modal-header'>
              <h5 class='modal-title' id='exampleModalLabel'>Offer a Home</h5>
              <button
               type='button'
               class='btn-close'
               data-bs-dismiss='modal'
               aria-label='Close'
             ></button>
           </div>
          <div class='modal-body'>
            <form>
              <div class='form-group'>
              <label
              for='signupInputUserName'
              style='text-align: left; margin-right:80%; margin-bottom: 2%;'
              >Location</label>
              <input
               type='email'
               class='form-control'
               id='signupInputUserName'
               aria-describedby='emailHelp'
               placeholder='Enter the location of your home'
               style='margin-bottom: 2%;'
              />
             {{! <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> }}
             </div>
            <div class='form-check'>
             <label
               for='signupInputUserName'
               style='text-align: left; margin-right:80%; margin-bottom: 2%;'
              > Type of Home</label>
             <input
               class='form-check-input'
               type='radio'
               name='flexRadioDefault'
               id='flexRadioDefault1'
             />
             <label class='form-check-label' for='flexRadioDefault1'>
               Department
             </label>
           </div>
           <div class='form-check'>
             <input
               class='form-check-input'
               type='radio'
               name='flexRadioDefault'
               id='flexRadioDefault2'
               checked
             />
             <label class='form-check-label' for='flexRadioDefault2'>
               Home
             </label>
           </div>
           <div class='form-check'>
             <input
               class='form-check-input'
               type='checkbox'
               value=''
               id='flexCheckIndeterminate'
             />
             <label class='form-check-label' for='flexCheckIndeterminate'>
               Pet Friendly
             </label>
           </div>
         
          </div>
       </div>
    </div>

    <div class='container-fluid' style='margin-bottom: 5%; margin-top:5%'>
      <div class='container text-center'>
        <div class='row align-items-start'>
          <div
            class='col-4'
            style='margin-left: 10%;  background-color:rgba(228, 230, 221, 0.561); padding:2%;'
          >
            <img
              src='../images/profile-picture.jpeg'
              class='img-fluid circle-image'
              alt='homepage image'
            />

            <button type="button" class='btn btn-outline-white btn-dark btn-signup' data-bs-toggle="modal" data-bs-target="#offerHomeModal" style="font-family: Poppins; border-radius: 0; margin-right: 20%">Signup</button>
          </div>
          <div class='col-6' style='margin-top:10%'>
            <form style='padding-left:20%'>
              <div class='mb-3'>
                <label
                  for='exampleInputEmail1'
                  class='form-label'
                  style='margin-right:80%; font-weight:500;'
                >User Name</label>
                <input
                  type='email'
                  class='form-control'
                  id='exampleInputEmail1'
                  placeholder='your display name'
                />
              </div>
              <div class='mb-3'>
                <label
                  for='exampleInputPassword1'
                  class='form-label'
                  style='margin-right:80%; font-weight:500;'
                >User Email</label>
                <input
                  type='password'
                  class='form-control'
                  id='exampleInputPassword1'
                  placeholder='your email address'
                />
              </div>

              <div class='d-grid gap-2 d-md-block button-group'>
                <button
                  class='btn btn-dark'
                  type='button'
                  style='padding-left:1.5rem; padding-right:1.5rem;'
                >Change Password</button>
                <button
                  class='btn btn-secondary'
                  type='button'
                  style='padding-left:1.5rem; padding-right:1.5rem;'
                >Delete Account</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>