
<div class="bg-reviews"></div>
    <div class='row align-items-start' style="padding-top:25%">
        <div class='col-5' style="width:553px; height:768px;">
            <img src="../images/reviews.jpg" class="img-fluid" alt="homepage image">
        </div>
        <div class='col-6' style="transform:translateY(-10vh)">
            <h1 class="display-1" style='padding-top:60%; padding-left:10%; text-align:left; font-family:Lora; font-size:56px'>What Our Happy Clients Say</h1>
            <p class="lead" style='margin-top:5%; padding-left:12%; top:45vh; text-align:left; max-width:450px; font-size:15px; color:var(--grey-color); font-family:Poppins'>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna.”</p>
        <div class="container" style="display: flex; justify-content: left;">
            <p class="lead" style='margin-top:5%; padding-left:10%; top:45vh; text-align:left; max-width:450px; font-size:15px; color:var(--dark-green-color); font-family:Poppins; font-weight:600'>Roomiehunt User</p>
    </div>
</div>