<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand fs-4" href="/api/user" style="font-weight:400; font-size:36px; font-family:Lora; color:var(--dark-color)">roomiehunt</a>
      <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" style="color: var(--dark-color);">
        <span class="navbar-toggler-icon" style="color: var(--dark-color);"></span>
      </button>
      <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header border-bottom" style="color: var(--light-color);">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="font-family: Lora; margin-left: 2%">roomiehunt</h5>
            <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
          <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active btn-home" aria-current="page" href='/api/user' style="font-weight:600; font-size:20px; color:var(--dark-green-color); font-family: Poppins;">Home</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link btn-contact" href="/contact" style="font-weight:600; font-size:20px; color:var(--grey-color); font-family: Poppins;">Contact</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link btn-contact" href="/reviews" style="font-weight:600; font-size:20px; color:var(--grey-color); font-family: Poppins;">Reviews</a>
            </li>
          </ul>
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
          <a href="/api/profile"><img 
          class="nav-link btn-user" 
          style="width:55px; height:50px; opacity:60%" src="../images/user.png"></a>
          <a><button class='btn btn-outline-white btn-dark btn-logout' type='submit' id="logOutBtn" style="font-family:Poppins">Log Out</button></a>
        </div>
      </div>
    </div>
  </nav> 
</header>
<body>           
    <main>
      <div class="bg-home-container"></div>
      <div class='container text-center' style="margin-top:4%">
        <div class='row align-items-start'>
          <div class='col-5'>
            <div class="bg-header"></div>
            <p>WORKING HERE</p>
            <p class="lead" style='top:25vh; text-align: center; max-width:501px; font-size:18px; color:var(var(--grey-color)); font-family: Poppins'>
              Welcome back <b>{{user}}</b> !</p> 
            {{!-- <h1 class="display-1" style='text-align: center; font-family: Lora'>TITULO TITULO</h1> --}}
          </div>

      <div class="col-12" style="padding-top: 2%;">
          <h3 class="display-3" style='text-align:center; font-family: Lora; font-weight: 400; font-size: 56px; color:var(--dark-color)'>What suits you best</h2>
          <p class="lead" style='font-family: Poppins; font-weight: 400; font-size: 18px; color:var(--grey-color)'>The site for those looking for the best place to live</p>
      </div>

      <form class="row align-items-center" style="padding-top: 5%; padding-bottom: 5%; margin-left: 1%">


      {{!-- DROPDOWNS --}}
      <div class="row align-items-center" style="padding-top: 5%; padding-bottom: 5%; margin-left: 1%">

        <div class="col" style="align-items: center; padding">
          <div class="btn-group" style="align-items: center;">
            <button id="typeDropDown" class="btn btn-secondary dropdown-toggle btn-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: Poppins;">
              Type of location
            </button>
            <ul class="dropdown-menu typeOfHome_menu" aria-labelledby="typeDropDown">
              <li><a class="dropdown-item item-type" data-value="house" id="A">House</a></li>
              <li><a class="dropdown-item item-type" data-value="apartment" id="B">Apartment</a></li>
              <li><a class="dropdown-item item-type" data-value="Both" id="C">Both</a></li>
            </ul>
          </div>
        </div>
      
        <div class="col" style="align-items: center;">
          <div class="btn-group" style="align-items: center;">
            <button id="locationDropDown" class="btn btn-secondary dropdown-toggle btn-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: Poppins;">
              Location
            </button>
            <ul class="dropdown-menu" aria-labelledby="locationDropDown">
              <li><a class="dropdown-item item-location" id="A">Gustavo A. Madero</a></li>
              <li><a class="dropdown-item item-location" id="B">Cuahutemoc</a></li>
              <li><a class="dropdown-item item-location" id="C">Coyoacán</a></li>
            </ul>
          </div>
        </div>

        <div class="col" style="align-items: center;">
          <div class="btn-group" style="align-items: center;">
            <button id="petDropDown" class="btn btn-secondary dropdown-toggle btn-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: Poppins;">
              Pet friendly
            </button>
            <ul class="dropdown-menu" aria-labelledby="petDropDown">
              <li><a class="dropdown-item item-pet" id="A">Yes</a></li>
              <li><a class="dropdown-item item-pet" id="B">No</a></li>
              <li><a class="dropdown-item item-pet" id="C">Both</a></li>
            </ul>
          </div>
        </div>


        <div class="col" style="align-items: center; padding">
          <div class="btn-group" style="align-items: center;">
            <button id="submitSearchBtn" class="btn btn-secondary btn-dropdown" type="button" aria-expanded="false" style="font-family: Poppins;">
              Search Homes
            </button>
          </div>
        </div>
      </form>

      </div>
      {{!-- DROPDOWNS --}}

          {{!-- ximena  --}}
          {{#if searchh}}
            {{#each mySrch}}
            {{> homes}}
            {{/each}}
          {{else}}
            {{#each homes}}
            {{> homes}}
            {{/each}}
          {{/if}}
          {{!-- ximena  --}}


        </div>
      </div>
  </main>
  <div class="container-fluid" style="background-color: #E4EEE6;">
    ...
  </div>

  <script src='../../js/logout.js'></script>
  <script src='../js/search.js'></script>

</body>