<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent" style="padding: 2% 3% 0%">
        <div class="container-fluid">
        <a class="navbar-brand fs-4" href="/api/user" style="font-weight:400; font-size:36px; font-family:Lora; color:var(--dark-color)">roomiehunt</a>
        <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" style="color: var(--dark-color);">
            <span class="navbar-toggler-icon" style="color: var(--dark-color);"></span>
        </button>
        <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header border-bottom" style="color: var(--light-color);">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="font-family: Lora; margin-left: 2%">roomiehunt</h5>
            <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
            <ul class="navbar-nav justify-content-end align-items-center fs-5 flex-grow-1 pe-3">
                <li class="nav-item">
                <a class="nav-link btn-home" aria-current="page" href='/api/user' style="font-weight:600; font-size:20px; color:var(--grey-color); font-family: Poppins;">Home</a>
                </li>
                <li class="nav-item mx-2">
                <a class="nav-link active btn-contact" href="/contact" style="font-weight:600; font-size:20px; color:var(--grey-color); font-family: Poppins;">Contact</a>
                </li>
                <li class="nav-item">
                <a class="nav-link btn-contact" href="/reviews" style="font-weight:600; font-size:20px; color:var(--grey-color); font-family: Poppins;">Reviews</a>
                </li>
            </ul>
            </div>
        </div>
    </nav> 
</header>