<section>
    <div id="home">
        <div id="pic"></div>
        <div>
            <h3>Type: {{typeOfHome}}</h3>
            <p>Location: {{location}}</p>
            <div id="icons">
                <i class="fa-solid fa-shield-dog"></i>
                <i {{pet}}></i>
            </div>
        </div>
    </div>
</section>