<section>
    <div id="home">
        <div id="pic"></div>
        <div>
            <h3>Type: {{typeOfHome}}</h3>
            <p>Location: {{location}}</p>
            {{pet}}
            <div id="icons">
            </div>
        </div>
    </div>
</section>