<div class='col'>
  <div class='card' style='width: 18rem; margin-bottom: 2rem;'>
    <img src='{{image}}' class='card-img-top' alt="Home Image" style="max-width: 284px; max-height: 191px" />
    <div class='card-body'>
      <h5 class='card-title'>{{typeOfHome}}</h5>
      <h6 class='card-title'>in {{location}}</h6>
      <p class='card-text'>Looking for 2 roomies</p>
      <p class='card-text'>{{pet}}</p>
      <button class='btn btn-primary btn-more-info' style="margin-bottom: 10%;">Contact owner</button>
    </div>
  </div>
</div>