<div class='col'>
  <div class='card' style='width: 18rem; min-height:18rem;'>
    <img src='{{image}}' class='card-img-top' alt='Home Image' />
    <div class='card-body'>
      <h5 class='card-title'>{{location}}</h5>
      <p class='card-text'>{{typeOfHome}}</p>
      <p class='card-text'>{{pet}}</p>
    </div>
  </div>
</div>