
    <script>
        window.addEventListener("load", () => { setInterval(loaderTimer, 2800);
        function loaderTimer() {
        document.querySelector(".preloader").classList.add("preloader--hidden"); }
        setInterval(bgloaderTimer, 3000); function bgloaderTimer() {
        document.querySelector(".preloader-bg").classList.add("preloader-bg--hidden");
        } })
    </script>


    <div class='preloader-bg'></div>
    <div class='preloader'></div>
