<div class="review card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5>{{name}}</h5>
    <p class="card-text" style="font-family: Poppins; color: var(--grey-color);">{{description}}</p>
  </div>
</div>