<div class="review card-rev" style="width: 18rem;">
  <div class="card-body" >
    <h5>{{name}}</h5>
    <p class="card-text" style="font-family: Poppins; color: var(--grey-color);">{{description}}</p>
  </div>
</div>

